{% extends "layout.njk" %}


{% block content%}

<ul>
{% for element in games %}

  <div align="left">
	    <h3>{{ element.name }}</h3>
  </div>

  <div align="center">
{% if element.cover.url %}
  <img src="{{element.cover.url}}" onclick=window.location.href=`http://localhost:3000/games/{{element.id}}` title="{{ element.name }}" alt="{{element.name}}">
{% else %}
  {# <h1>Il n'y a pas de photos</h1> #}
  <img src="/images/logo.png" onclick=window.location.href=`http://localhost:3000/games/{{element.id}}` title="{{ element.name }}" alt="{{element.name}}">
{% endif %}
  </div>

{% endfor %}
</ul>

  {# <div class="container" ;> #}


{# </div> #}

{% if queryStr.page %}
<nav aria-label="Page navigation example">

  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="/games?page=1" tabindex="-1">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href=`/games?page={{indexPage}}` >Next</a>
    </li>
  </ul>

</nav>
{% else %}
<nav aria-label="Page navigation example">

  <ul class="pagination justify-content-center">

    <li class="page-item">
      <a class="page-link" href="/games?page=2">Next</a>
    </li>
  </ul>

</nav>
{% endif %}

	    <h3>{{ indexPage }}</h3>



{% endblock %}
