<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>layout</title>
    {# <link rel="stylesheet" href="/css/style.css" /> #}
    {% block css %}{% endblock %}
  </head>
  <body>
    {# <h1>Mon site web (layout.njk)</h1> #}
    {% block content %}{% endblock %}
  </body>
</html>
